body{
  background-color: #2c2b27;
}
.logo{
  position: absolute;
  top:30px;
  left: 30px;
}
.logo a{
  width: 70px;
  height: 41px;
}
.btn-circle {
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 100px;
  height: 100px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 50px;
  border-color: white;
  border-width: 2px;
}
.btn-circle.btn-xl {
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

.slick-dots li button::before{
  font-size: 15px;
  color: white;
}

.modal-content{
  top:250px;
  background-color: transparent;
  border: none;
}
.modal-content>h1{
  text-align: center;
  color:white;
}
input[type=checkbox]{
  display: none;
}
.img-thumbnail{
  background-color: transparent;
  padding: 0;
  border:none;
}
.img-thumbnail:focus{
  content: 'ï˜';
}
.fa-print{
  color: white;
}
.slick-prev::before, .slick-next::before{
  font-size: 40px;
}
.slick-prev{
  left:-50px;
}
